<div id="accountlist-page" class="container-fluid my-5">
	<div class="row">
		<div class="col">
			<h1 class="ml-lg-3">Account List</h1>
		</div>
		<div class="col-auto">
			<a href="/user/create" class="btn btn-outline-primary">Create New Account</a>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="list-group">
				{{#each accountList}}
					<div class="list-group-item">
						<div class="row">
							<div class="col-sm-10 col-8">
								<div class="row">
									<div class="col-lg-4 col-md-6 my-2">
										<span>{{this.firstName}} {{this.middleName}} {{this.lastName}}</span>
									</div>
									<div class="col-lg-4 col-md-6 my-2">
										<span>{{this.email}}</span>
									</div>
									<div class="col-lg-2 col-md-6 my-2">
										<span>{{{mapAccessLvl this.accessLvl}}}</span>
									</div>
									<div class="col-lg-2 col-md-6 my-2">
										{{#if (gteq ../user.accessLvl 5)}}
											<span>{{currency this.payrate}}/hr</span>
										{{else if (gt ../user.accessLvl this.accessLvl)}}
											<span>{{currency this.payrate}}/hr</span>
										{{else if (eq ../user.id this.id)}}
											<span>{{currency this.payrate}}/hr</span>
										{{else}}
											<span>$XX.00/hr</span>
										{{/if}}
									</div>
								</div>
							</div>
							<div class="col-sm-2 col-4">
								{{#if (gteq ../user.accessLvl 5)}}
									<button class="btn btn-link" onclick="openAdminAccountModal({{ this.id }});">Edit</button>
									<input type="hidden" id="{{this.id}}-first" value="{{this.firstName}}">
									<input type="hidden" id="{{this.id}}-middle" value="{{this.middleName}}">
									<input type="hidden" id="{{this.id}}-last" value="{{this.lastName}}">
									<input type="hidden" id="{{this.id}}-email" value="{{this.email}}">
									<input type="hidden" id="{{this.id}}-accessLvl" value="{{this.accessLvl}}">
									<input type="hidden" id="{{this.id}}-payrate" value="{{this.payrate}}">
								{{else if (gt ../user.accessLvl this.accessLvl)}}
									<button class="btn btn-link" onclick="openAdminAccountModal({{ this.id }});">Edit</button>
									<input type="hidden" id="{{this.id}}-first" value="{{this.firstName}}">
									<input type="hidden" id="{{this.id}}-middle" value="{{this.middleName}}">
									<input type="hidden" id="{{this.id}}-last" value="{{this.lastName}}">
									<input type="hidden" id="{{this.id}}-email" value="{{this.email}}">
									<input type="hidden" id="{{this.id}}-accessLvl" value="{{this.accessLvl}}">
									<input type="hidden" id="{{this.id}}-payrate" value="{{this.payrate}}">
								{{/if}}
								{{#if this.application}}
									<button class="btn btn-link" onclick="openAdminAppModal({{ this.id }});">View App</button>
								{{/if}}
							</div>
						</div>
					</div>
				{{else}}
					<div class="list-group-item">
						<center>No Accounts Found!</center>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="admin-account-modal" tabindex="-1" role="dialog" aria-labelledby="adminAccountModalLabel" aria-hidden="true" data-userid="">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="adminAccountModalLabel">Edit Account</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-4">
						<input name="firstName" class="form-control" type="text" required="required" placeholder="First Name"><br>
					</div>
					<div class="col-sm-4">
						<input name="middleName" class="form-control" type="text" placeholder="Middle Name"><br>
					</div>
					<div class="col-sm-4">
						<input name="lastName" class="form-control" type="text" required="required" placeholder="Last Name"><br>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<input name="email" class="form-control" type="email" required="required" placeholder="Email Address"><br>
					</div>
					<div class="col-sm-4">
						<select name="accessLvl" class="form-control">
							<option value="1">Employee</option>
							{{#if (gteq user.accessLvl 3)}}<option value="2">Supervisor</option>{{/if}}
							{{#if (gteq user.accessLvl 4)}}<option value="3">Management</option>{{/if}}
							{{#if (gteq user.accessLvl 5)}}<option value="4">Upper Management</option>{{/if}}
							{{#if (gteq user.accessLvl 5)}}<option value="5">Administrator</option>{{/if}}
						</select><br>
					</div>
					<div class="col-sm-4">
						{{#if (gteq user.accessLvl 3)}}
							<input name="payrate" class="form-control" type="Number" placeholder="Pay Rate"><br>
						{{else}}
							<input name="payrate" class="form-control" type="Number" placeholder="Pay Rate" disabled="disabled"><br>
						{{/if}}
					</div>
				</div>
				<div class="row justify-content-center my-3">
					<div class="col-auto">
						<button class="btn btn-link" onclick="adminResetPassword();">Reset Password</button>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-6">
						<button class="btn btn-block btn-danger" onclick="adminDeleteAccount();">Delete Account</button>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="adminUpdateAccount();">Save</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="admin-app-modal" tabindex="-1" role="dialog" aria-labelledby="adminAppModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="adminAppModalLabel">Original Application</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>