<div id="admin-page" class="container-fluid">
	<div class="row mt-5 justify-content-center">
		<!-- {{#if (gteq user.accessLvl 3)}}
			<div class="col-auto my-3">
				<a href="/positions" class="btn btn-outline-primary">Positions</a>
			</div>
			<div class="col-auto my-3">
				<a href="#" class="btn btn-outline-primary">Content</a>
			</div>
		{{/if}}
		<div class="col-auto my-3">
			<a href="#" class="btn btn-outline-primary">Messages</a>
		</div> -->
		{{#if (gteq user.accessLvl 5)}}
			<div class="col-auto my-3">
				<a href="/timeclock/export" class="btn btn-outline-primary">Time Sheets</a>
			</div>
		{{/if}}
	</div>
	<div class="row justify-content-center dashboard">
		<div class="col-md-4 cell">
			<a href="/user/list" class="link-unstyled">
				<center><span class="large">{{numEmployees}}</span><br><span>Total Employees</span></center>
			</a>
		</div>
		<div class="col-md-4 cell">
			<a href="/timeclock/clockedin" class="link-unstyled">
				<center><span class="large">{{numOnClock}}</span><br><span>Clocked In Employees</span></center>
			</a>
		</div>
	</div>
	<div class="row justify-content-center dashboard">
		<div class="col-md-3 cell">
			<a href="/applications/pending" class="link-unstyled">
				<center><span class="large">{{numPendingApps}}</span><br><span>Pending Applications</span></center>
			</a>
		</div>
		<div class="col-md-3 cell">
			<a href="/applications/held" class="link-unstyled">
				<center><span class="large">{{numHeldApps}}</span><br><span>Held Applications</span></center>
			</a>
		</div>
		<div class="col-md-3 cell">
			<a href="/applications/rejected" class="link-unstyled">
				<center><span class="large">{{numRejectedApps}}</span><br><span>Rejected Applications</span></center>
			</a>
		</div>
	</div>
</div>